/* Font for the Website from Google */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Boiler Template */
*{
    margin: 0;
    padding: 0;
    font-family: "Lato";
    border: none;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

img{
    max-width: 100%;
}

/* Default Color */
:root{
    --primary-color: #ff5400;
    --secondary-color: #131319;
    --text: #424247;
}

/* Reusable classes */
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 3.2rem 1.2rem;
    /* border: 1px solid red; */
}

.intro {
    width: 50%;
    text-align: center;
    margin: 0 auto 2rem;
}

.shadow{
    box-shadow: -2px 2px 15px 2px rgba(43,41,41,0.21);
}

.white{
    background-color: #fff;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
}

.subtitle {
    font-size: 2rem;
    font-weight: 600;
}

.inner-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.inner-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
}

.text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--text);
}

.btn {
    padding: .8rem 1.8rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: .5rem;
}

.flex{
    display: flex;
}

.content-center{
    justify-content: center;
}

.content-between{
    justify-content: space-between;
}

.item-center{
    align-items: center;
}

.dir-col{
    flex-direction: column;
}

.grid{
    display: grid;
}

.col2{
    grid-template-columns: repeat(2, 1fr);
}

.col3{
    grid-template-columns: repeat(3, 1fr);
}
.col4{
    grid-template-columns: repeat(4, 1fr);
}

.col-span-1{
    grid-column: span 1 /span 1;
}

.col-span-2{
    grid-column: span 2 /span 2;
}

.col-span-3{
    grid-column: span 3 /span 3;
}

.gap{
    gap: .8rem;
}

.dnone{
    display: none;
}

.dblock{
    display: block;
}

.bg{
    padding: 10rem 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

/* Header style */
header > .container{
    padding: 1.5rem 1.2rem;
}

body > header > div > div.nav-items > ul {
    gap: 2rem;
}

.nav-items > ul > li {
    list-style: none;
}

.nav-items > ul > li > a{
    text-decoration: none;
    color: var(--secondary-color);
}

/* Hero Section */
.hero{
    padding: 0 1.2rem;
}
.hero-container{
    padding: 10rem 0;
    background-image: url(./assets/hero-banner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

h1.tegline {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.hero-des{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
.search-form {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
}

.field{
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    width: 180px;
    color: var(--text);
}

.select{
    color: #969696;
}

/* Tours Style */
.tour-container, .tour-intro{
    gap: 2rem;
}
.tour-list{
    padding-left: 1rem;
}

/* Desitination Style */

.image-box {
    position: relative;
}

.image-box>img{
    width: 100%;
    height: 100%;
}
.image-box>.inner-subtitle{
    position: absolute;
    color: white;
}

/* Why Us style */
.hotel-box {
    background-color: #fbb5631a;
    padding: 2rem;
    border-radius: .5rem;
}
.service-box {
    background-color: #29CEF61a;
    padding: 2rem;
    border-radius: .5rem;
}

.price-box-container {
    margin: 0.8rem 0 0;
}

.price-box {
    background-color: #E944441a;
    padding: 2rem;
    border-radius: .5rem;
}

/* Deals and Discount */
.deal-container-1{
    background-image: url(./assets/dark.png);
}
.deal-container-2{
    background-image: url(./assets/dark-left.png);
}

.deal-1{
    grid-column: 2;
    padding: 2rem;
    border-radius: .8rem;
    background-color: #ffffffc7;
}
.deal-2{
    grid-column: 1;
    padding: 2rem;
    border-radius: .8rem;
    background-color: #ffffffc7;
}

i.ri-timer-fill, .ri-user-3-fill, .ri-map-pin-fill{
    color: var(--primary-color);
}

.deal-details.flex.dir-col.gap > h4{
    color: var(--primary-color);
}

/* Newsletter Style */
.newsletter-form {
    border: 1px solid var(--primary-color);
    padding: 1.5rem;
    border-radius: .8rem;
    gap: 1.5rem;
}

.name, .email {
    width: 100%;
    background-color: #1313181a;
    font-size: 1rem;
    margin-bottom: .8rem;
}

.subs{
    width: 100%;
}

.offer-image{
    position: relative;
}

.offer-image>img {
    width: 100%;
    height: 100%;
}

.offer {
    width: 35%;
    text-align: center;
    rotate: -30deg;
    position: absolute;
    bottom: 5rem;
    right: 1.4rem;
}

.offer>p{
    color: #fff;
}

/* Blogs Style */
.blog {
    padding: 1rem;
}
.blog>img {
    width: 100%;
}

.info {
    padding: 2rem;
}

.info> h2> a {
    color: var(--secondary-color);
}

/* Footer Style */
body > footer > div > div.intro.flex.dir-col.gap > img {
    width: inherit;
    margin: 0 auto;
}
.copyright{
    width: 100%;
    padding-top: 2rem;
    border-top: 1px solid #13131810;
}

.copyright>p{
    text-align: center;
}


/* Mobile style */
@media screen and (max-width: 600px){
    /* Reusable classes */
.container{
    width: 350px;
    padding: 1.8rem 1.2rem;
    /* border: 1px solid red; */
}

.intro{
    width: 100%;
}

.title{
    font-size: 1.7rem;
}

.flex{
    display: flex;
}

.col2{
    grid-template-columns: 1fr
}

.col3{
    grid-template-columns: 1fr;
}

.col4{
    grid-template-columns: 1fr;
}

/* Header Style */
.nav-hide{
    display: none;
}
.hamburger{
    display: block;
}

/* Hero Sstyle */
.hero{
    padding: .5rem;
}
.hero-container{
    padding: 2rem 1.2rem;
}

h1.tegline{
    font-size: 2rem;
}

.search-form{
    width: 100%;
}
.form{
    flex-direction: column;
}

.field{
    width: 100%;
}

.smbt{
    width: 100%;
}

/* Destination Style */

.image-box{
    grid-column: span 1 / span 1;
}

.image-box>img{
    height: 12rem;
    /* object-fit: cover; */
    border-radius: 1rem;
}

/* Deals and Discount Style */
.bg{
    padding: 7rem 1rem 1rem;
}

.deal-info{
    flex-wrap: wrap;
}

/* Perfact place Style */
body > main > div:nth-child(6) > div > div.travel-video > iframe {
    border-radius: .8rem;
}

/* Newsletter Style */
.offer {
    width: 50%;
    text-align: center;
    rotate: -30deg;
    position: absolute;
    bottom: 3rem;
    right: .5rem;
}

.offer>h2{
    font-size: 1.1rem;
}
}